<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.database_cli.mapper.BuyerMapper">

    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="com.example.database_cli.model.entity.Buyer">
        <id column="buyer_id" property="buyerId" jdbcType="VARCHAR"/>
        <result column="buyer_name" property="buyerName" jdbcType="VARCHAR"/>
        <result column="buyer_password" property="buyerPassword" jdbcType="VARCHAR"/>
        <result column="id_bool" property="idBool" jdbcType="BOOLEAN"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="Base_Column_List">
        buyer_id, buyer_name, buyer_password,id_bool
    </sql>

    <!-- 根据ID查询买家 -->
    <select id="selectById" parameterType="string" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM buyer
        WHERE buyer_id = #{buyerId} AND is_bool = 1
    </select>

    <!-- 查询所有买家 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM buyer
        where is_bool = 1
    </select>

    <!-- 插入买家 -->
    <insert id="insert" parameterType="com.example.database_cli.model.entity.Buyer">
        INSERT INTO buyer (buyer_id, buyer_name, buyer_password)
        VALUES (#{buyerId}, #{buyerName}, #{buyerPassword})
    </insert>

    <!-- 更新买家信息 -->
    <update id="update" parameterType="com.example.database_cli.model.entity.Buyer">
        UPDATE buyer
        SET buyer_name = #{buyerName},
            buyer_password = #{buyerPassword}
        WHERE buyer_id = #{buyerId} AND is_bool = 1
    </update>

    <!-- 根据ID删除买家 -->
    <update id="deleteById" parameterType="string">
        UPDATE buyer SET is_bool = 0 WHERE buyer_id = #{buyerId}
    </update>

    <!-- 根据用户名查询买家 -->
    <select id="selectByBuyerName" parameterType="string" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM buyer
        WHERE buyer_name = #{buyerName} AND is_bool = 1
    </select>

</mapper> 